.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* UserCard */
.card-img-top{
  border: 1px solid rgba(112, 112, 112, 0.496);

}
.card{
  background-color: #F2F2F2;
  border: 2px solid rgba(112, 112, 112, 0.496);
}
.card-username{
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}
.badge.rounded-pill.text-bg-success {
  font-size: 15px;
  margin-left: 36%;
  margin-bottom: 15px;
}
.badge.rounded-pill.text-bg-danger{
  font-size: 15px;
  margin-left: 36%;
  margin-bottom: 15px;
}
.card-phone, .card-email{
  text-align: center;
  font-size: 18px;
}

